<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Gerenciador de tarefas - Lista de Tarefas</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
	<div class="container">
		<h3>Listagem de tarefas</h3>
		<a href="/tarefas/inserir" class="btn btn-success">Inserir nova tarefa</a>
		<div th:each="tarefa: ${tarefas}" style="margin:10px 0px">
			<div class="card bg-light mb-3">
				<div class="card-header" th:text="${tarefa.titulo}"></div>
				<div class="card-body">
					<p class="card-text" th:text="${tarefa.descricao}"></p>
					<p class="card-text" th:text="${'Data de expiração: '+ #dates.format(tarefa.dataExpiracao,'dd/MM/yyyy')}"></p>
					<p class="card-text" style="color:green;" th:if="${tarefa.dataExpiracao.after(new java.util.Date())}">Em dia</p>
					<p class="card-text" style="color:red;" th:if="${!tarefa.dataExpiracao.after(new java.util.Date())}">Em Atraso</p>
				</div>
				<div class="card-footer bg-light">
					<p>
						<a th:href="@{/tarefas/alterar/{id}(id=${tarefa.id})}">Alterar</a> |
						<a th:href="@{/tarefas/excluir/{id}(id=${tarefa.id})}">Excluir</a> |
						<a th:if="${!tarefa.concluida}" th:href="@{/tarefas/concluir/{id}(id=${tarefa.id})}">Concluir</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"  type="text/javascript"></script>	
</body>
</html>